<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- id 表示获取到对象标识class 创建哪个类的对象-->
	<bean id="peo" class="com.pojo.People">
		<property name="ID" value="2"></property>
		<property name="name" value="张三"></property>
		
		<property name="num">
			<array>
				<value>1</value>
				<value>2</value>
				<value>3</value>
			</array>
		</property>
	</bean>
</beans>
